<% provide(:title, 'Contact') %>

<div class="container">
	<div class="row">
	    <h2 class="text-uppercase content-title text-center">Contact</h2>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<ul>		          
	          <a href="#" title="Connect wih me!">linkedin
	            <i class="fa fa-linkedin fa-3x social-icons"></i>
	          </a>
	          <a href="#" title="Code with me!">github
	            <i class="fa fa-git fa-3x social-icons"></i>
	          </a>
	          <a href="mailto:xx@xx.com" title="E-mail me!">email
	            <i class="fa fa-envelope-o fa-3x social-icons"></i>
	          </a>
	        </ul>
		</div>
	</div>
</div>